.dropdown-menu.show {
    padding: 12px 12px;
    min-width: 14rem;
    a {
        color: #252525;
        text-decoration: none;
    }
}

.dropdown-toggle:hover {
    .dropdown-menu {
        display: block !important;
    }
}

@media (min-width: 1200px) {
    .nav-item.dropdown .dropdown-menu {
        display: block;
        visibility: hidden;
        opacity: 0;
        top: 120%;
        padding: 12px 12px;
        min-width: 14rem;
        a {
            color: #252525;
            text-decoration: none;
        }
    }
    .nav-item.dropdown:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
        top: 100%;
    }
}
