@import "./font-sizes.scss";
@import "./bg-grid.scss";

@import "./margin-padding.scss";


.light-3{
    opacity: .3;
}

.light-4{
    opacity: .4;
}
.light-5{
    opacity: .5;
}
.light-6{
    opacity: .6;
}
.light-7{
    opacity: .7;
}
.light-8{
    opacity: .8;
}
.light-9{
    opacity: .9;
}